{% extends "base.html" %}

{% block title %}About - My Website{% endblock %}

{% block content %}
<h1>О сайте</h1>
<p>Этот сайт - иллюстрация того, как можно использовать Flask вместе с шаблонизатором Jinja</p>
<p>Он состоит из:</p>
<ul>
    <li>Основной шаблон с панелью навигации (base.html).</li>
    <li>Домашней странице расширяющей основной шаблон (home.html).</li>
    <li>Страницы "О сайте" расширяющей основной шаблон (about.html).</li>
</ul>
<p>
    Flask — это микро-фреймворк для разработки веб-приложений на языке Python. Он называется "микро", потому что не принуждает разработчика использовать определённые инструменты или библиотеки. Flask предоставляет базовый набор возможностей, оставляя разработчику свободу выбора остальных компонентов.
</p>
<p>
    Jinja — это один из самых популярных шаблонизаторов для языка Python. Он используется для генерации HTML, XML или других текстовых форматов из шаблонов. Jinja позволяет отделить логику приложения от его представления, что делает код более организованным и читаемым.
</p>
<p>
    Для создания панели навигации был исподьзован Bootstrap 5.3
</p>
{% endblock %}